@keyframes fadeup{
    to{
        opacity:1;
        margin-bottom:0%;
    }
}
@keyframes count{
    from{
        top: .2rem;
        right: -1.8rem;
        transform: rotate(120deg)
    }
    25%{
        top:-.2rem;
        right:-1.2rem;
        transform:rotate(80deg)
    }
    50%{
        top: -.4rem;
        right: -.6rem;
        transform: rotate(60deg)
    }
    75%{ 
        top: -.4rem;
        right: -0rem;
        transform: rotate(30deg)
    }
    to{ 
        top: -.2rem;
        right: -3rem;
        transform: rotate(120deg)
    }
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.bg-mac{
    background-color: rgba(239, 226, 217);
}
.carousel-caption{
    left:-5%;
    opacity:.5;
}
.navbar{
    font-size:25px;
    font-family: 'Oleo Script', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.nav-item{
    border-radius:30%;   
}
.marginneg{
    margin-bottom:-5px;
    width:120px;
}
footer ul li{
list-style-type: none;
}
footer .socials a img{
    width:2rem;
    height:2rem;
}
.container-fluid a img{
    height:50px;
    width:50px;
}
.drinks .card img{
    height:25rem;
}
.reveal.active{
    opacity:0;
    margin-bottom: -100px;
    animation: fadeup 3s ease forwards;
}
.iFrameMap{
    width:100%;
    height:80%;
}
.gmap_canvas{
    width: 600px
}
.card:hover{
    border:2px saddlebrown;
    transition: 1s ease;
}
.card-img-top:hover{
    opacity:.8;
    transition: 1s ease;
}
.contactUs{
    margin-left: -5%;
}
a{
    text-decoration: none;
    color:black
}
.footer ul li img:hover{
    width: 2.5rem;
    height: 2.5rem;
    transition: 500ms ease;
}
.btn-primary{
    color: black;
    background-color:rgb(209, 170, 140);
    border:black;
}
.btn-primary:hover{
    background-color:brown;
}
.drinks{
    margin-bottom:3%;
}
.counter-container{
    border:1px solid #ffffff20;
    border-radius: .1rem;
    width: 3.3rem;
    height: 3.3rem;
    margin-right:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.counter-container svg{
    width:3rem;
    color:#fff;
}
.counter-container span{
    user-select: none;
    position: absolute;
    background:#ff4754;
    width: 1.3rem;
    height: 1.3rem;
    font-size: .8rem;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content:center;
    top: .2rem;
    right: .3rem;
}
.counter-container span:not(.animated-counter){
    display:none;
}
.counter-container span .animated-counter{
    animation: count .4s ease-in-out;
}


/* Testimonial Slider*/
.hero{
    width: 100%;
    height: 100vh;
    background: #f6fbff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.hero h1{
    font-size:30px;
}
.hero h1::after{
    content:"";
    width:150px;
    height:3px;
    background: linear-gradient(to right, #f44366, #9f4db5);
    position:absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 915px) {
   .ingredients{ 
        flex-wrap:wrap ;
    }
    footer{
        position:relative
    }
    .gmap_canvas{
        width: 260px;
    }
    .contactUs{
        margin-left: -20%;
    }
    .thirdSection{
        flex-wrap: wrap;
    }
    .testimony{
        display:none;
    }
    .slog1{
    display:none;
    }
  }
  @media only screen and (max-width: 1440px) {

   }